* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bool-primary: #f6f5f3;
    --bool-title: #ff9614;
    --bool-product: #4e3969;
}

section h1{
    color: var(--bool-title);
    text-align: center;
    padding: 1rem;
}

main section{
    background-color: var(--bool-primary);
}

.container{
    padding: 1rem;

    h4{
        color: gray;
    }

    h2{
        color: var(--bool-product);
        padding: 1rem 0;
    }

    h5{
        padding-bottom: 1rem;
        font-size: 18px;
    }
}


img{
    max-width: 100%;
}

.row{
    background-color: white;
}

.col-text{  
    padding: 2rem;
}

ul{
    list-style: none;

    li{
        padding: 0.5rem 0;
    }
}

/* Utilities */
.text-hidden{
    display: none;
}

/* Media Query */
@media screen and (min-width: 768px)
{
    section h1{
        text-align: start;
    }

    .container{
        padding: 2rem;

        h2{
            font-size: 30px;
        }

        .card-text{
            max-width: 768px;
        }

        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem 6rem;
        }

    }

    .text-hidden{
        display: inline-block;
    }
}

@media screen and (min-width: 992px)
{
    .container{
        padding: 4rem;

        h2{
            font-size: 40px;
        }

        .row{
            display: flex;
        }

        ul{
            flex-direction: column;
            gap: 0.5rem;
        }

        
    }
}